<%- include('partials/head') %>
    <%- include('partials/navbar') %>

        <section class="welcome"
            style="background-image: url('https://images.pexels.com/photos/207691/pexels-photo-207691.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
            <div class="welcome-text text-white d-flex justify-content-center align-items-center ">
                <div class="p-5 text-center bg-transparent rounded">
                    <h1>Welcome to Our Data Student Input Site!</h1>
                    <p>Save your data here</p>
                    <a href="/form" class="btn btn-primary">Input Data</a>
                </div>
            </div>
        </section>


        <%- include('partials/footer') %>